*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
body{
    font-size:20px;
}
img{
    width: 100%;
}
/* header section */
header{
    width: 100%;
}
nav{
    line-height:75px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
nav section{
    display: inline-block;
}
.left-nav{
    width: 50%;
}
.right-nav{
    float: right;
    width: 50%;
    text-align: right;
}
nav a{
    text-decoration: none;
    color:currentColor;
    display:inline-block;
    line-height:normal;
}
nav li {
    margin:0 2%;
}
nav li img{
    vertical-align: middle;
}

/* hero section */
h1{
    font-size:70px;
}
.left-col{
    float:left;
    width: 40%;
    font-size: 16px;
    padding-right: 90px;
}
.container-80 img{
    width: 60%;
}
.img-overflow{
    position: relative;
    bottom:-60px;
}

/* info kits section */
h2{
    font-size:40px;
}
label{
    padding-right: 2%;
}
.kits-col{
    float:left;
    width:calc(100%/3);
    padding-right:50px;

}
.col-head{
    text-align:center;
    line-height:40px;
    border: 1px solid gray;
}
.col-main{

    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size:14px;    
}
.col-main ul {
    margin:50px auto;
}
.col-main li {
    margin-bottom:30px;
}
.col-main li:last-child {
    margin-bottom:0;
}
.col-main hr{
    width: 50px;
}

/* cta */
.p-cta {
    padding: 140px 275px;
}

/* footer */
footer li {
    display: block;
}


/* utilities */
.p-box{
    padding:40px 20px;
}
.i-b{
    display: inline-block;
}
.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-70{
    width: 70%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}
.button {
    padding:10px 20px;
    text-decoration: none;
    color:currentColor;
    display:inline-block;
    line-height:normal;
}
.bg-1{
    background-color: #0061ff ;
    color: #fff;
}
.bg-2{
    background-color: #b4d0e7;
}
.bg-3{
    border: 1px solid black;
}
.bg-4{
    background-color: #ccc ;
}
.bg-5{
    background-color: #b4d0e7;
}
.bg-footer{
    background-color: #000000;
    color:white;
}
.mb-210{
    margin-bottom: 210px;
}
.mt-150{
    margin-top: 150px;
}
.mb-120{
    margin-bottom: 120px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
.pr-30{
    padding-right: 30px;
}
.left{
    float: left;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w33{
    width: calc(100%/3);
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.txt-right{
    text-align: right;
}