*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
img{
    width: 100%;
}
h3{
    font-size:22px;
}
p{
    font-size: 14px;
}
hr{
    width: 50px;
}
h4{
    font-size: 18px;
}
h3{
    font-size: 26px;
}
/* header section */
header{
    width: 100%;
}
nav{
    line-height:75px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
nav section{
    display: inline-block;
}
.left-nav{
    width: 50%;
}
.right-nav{
    float: right;
    width: 50%;
    text-align: right;
}
nav a{
    text-decoration: none;
    color:currentColor;
    display:inline-block;
    line-height:normal;
}
nav li {
    margin:0 2%;
    border-bottom: 3px solid transparent;
}
nav li:hover{
    border-bottom:3px solid gray;
}

nav li img{
    vertical-align: middle;
}

/* hero section */
h1{
    font-size:70px;
}
.left-col{
    float:left;
    width: 40%;
    font-size: 16px;
    padding-right: 90px;
}
.container-80 img{
    width: 60%;
}
.img-overflow{
    position: relative;
    bottom:-60px;
}
.left-col i{
    font-size:40px;
}

/* info kits section */
h2{
    font-size:40px;
}
label{
    padding-right: 2%;
}
.kits-col{
    float:left;
    width:calc(100%/3);
    padding-right:50px;

}
.col-head{
    text-align:center;
    line-height:40px;
    border: 1px solid gray;
}
.col-main{

    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size:14px;    
}
.col-main ul {
    margin:50px auto;
}
.col-main li {
    margin-bottom:30px;
}
.col-main li:last-child {
    margin-bottom:0;
}

/* partners */
.square img {
    width: 70%;
    vertical-align: middle;
}

/* cta */
.p-cta {
    padding: 140px 270px;
}

/* frequent questions */
.questions li {
    display: block;
    padding:40px 40px 40px 0;
    border-top: 1px solid gray;
    font-weight: bold;
    font-size:16px;
}
.questions li:last-of-type{
  border-bottom: 1px solid gray;
}
.questions .fa-angle-down {
    float: right;
}
/* footer */
footer li {
    display: block;
    font-size: 14px;
    line-height:30px;
}


/* utilities */
.square {
    height: 230px;
    line-height: 230px;
    text-align: center;
}
.p-box{
    padding:40px 20px;
}
.p-box-2{
    padding: 55px 50px 107px;
}
.i-b{
    display: inline-block;
}
.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-70{
    width: 70%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}
.button {
    padding:10px 20px;
    text-decoration: none;
    color:currentColor;
    display:inline-block;
    line-height:normal;
    text-align: center;
    font-size: 16px;

}
.bg-1{
    background-color: #0061ff ;
    color: #fff;
}
.bg-2{
    background-color: #b4d0e7;
}
.bg-3{
    border: 1px solid black;
}
.bg-4{
    background-color: #ccc ;
}
.bg-5{
    background-color: #b4d0e7;
}
.bg-6{
    background-color:#a2d39b;
    border: 10px solid #d0e9cd;
}
.bg-7{
    background-color:#61082b;
}
.bg-8{
    background-color:#ff1c1c;
}
.bg-9{
    background-color:#d5001f;
}
.bg-10{
    background-color:#0d2481;
}
.bg-11  {
    background-color:#ffd830;
}
.bg-w{
    background-color:white;
}

.bg-footer{
    background-color: #000000;
    color:white;
}
.mb-210{
    margin-bottom: 210px;
}
.mt-150{
    margin-top: 150px;
}
.mt-105{
    margin-top: 105px;
}
.mb-130{
    margin-bottom: 130px;
}
.mb-120{
    margin-bottom: 120px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
.pb-40{
    padding-bottom: 40px;

}
.pt-105{
    padding-top: 105px;
}
.pr-80{
    padding-right: 80px;
}
.pr-30{
    padding-right: 30px;
}
.left{
    float: left;
}
.w100{
    width: 100%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w33{
    width: calc(100%/3);
}
.w30{
    width: 30%;
}
.w25{
    width: 25%;
}
.w20{
    width: 20%;
}
.txt-right{
    text-align: right;
}
.strong{
    font-weight: bold;
}
.fs-16{
    font-size: 16px;
}
.fs-14  {
    font-size: 16px;
}
.lh-30{
    line-height:30px;
}
.tags{
    text-decoration: underline;
    color: blue;
}
.fa-check{
    color: blue;
}